<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenqian.dao.ArticleMapper">

    <!--<select id="selectByKey" resultType="com.chenqian.entity.User">-->
        <!--SELECT * FROM USER WHERE uid=#{uid};-->
    <!--</select>-->

    <select id="getArticleAll" resultType="com.chenqian.entity.Article">
        SELECT * FROM article
    </select>

    <select id="selectArticleByUid" resultType="com.chenqian.entity.Article">
        SELECT * FROM article WHERE uid=#{uid}
    </select>

</mapper>